<ion-content>
  <div *ngIf="initializeRead"
    class="w-11/12 py-2 fixed inset-x-0 top-0 mx-auto shadow-xl shadow-black bg-slate-800 rounded-b-xl">
    <div class="w-full -mt-8">
      <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"
        (ionChange)="onIonChangeRead($event)" [value]="readProgress" [max]="textOnArray.length">
        <ion-icon name="play-back" slot="start" color="primary" (click)="jumpReadTo(21, false)"></ion-icon>
        <ion-icon name="play-forward" slot="end" color="primary" (click)="jumpReadTo(21, true)"></ion-icon>
      </ion-range>
    </div>
  </div>

  <div class="content">
    <div *ngIf="!initializeRead" class="h-screen flex justify-center items-center">
      <div *ngIf="!inputFile" class="w-80">
        <div class="w-full my-4">
          <ion-input placeholder="Preencha com sua url local" [(ngModel)]="urlInput" fill="outline"></ion-input>
          <ion-button (click)="handleLocalhost()" expand="full">Enviar url</ion-button>
        </div>
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click para selecionar
                o
                pdf</span>
            <p class="text-xs text-gray-500 dark:text-gray-400">Envie de preferencia PDFs leves</p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" (change)="handleFile($event)" />
        </label>
      </div>

      <div *ngIf="inputFile" class="w-80">
        <div class="flex items-center justify-center w-full">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
              </svg>
              <p class="mb-2 mx-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">{{
                  inputFile.file.name }}</span></p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
          </label>
        </div>
        <ion-button color="primary" expand="full" (click)="confirm()">
          <ion-label>Confirmar</ion-label>
        </ion-button>
      </div>
    </div>

    <div *ngIf="initializeRead">

      <div class="border-2 border-[color:#EC135A] bg-slate-900 rounded-lg p-5 mt-20 mb-32">
        <p [innerHTML]="sanitizeHtml(textToShow)"></p>
      </div>

      <div class="w-11/12 py-2 fixed inset-x-0 bottom-2 mx-auto shadow-xl shadow-black bg-slate-800 rounded-xl">
        <div class="w-10/12 mx-auto flex justify-center items-center flex-col">
          <div class="w-full -mt-8">
            <ion-range aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter"
              (ionChange)="onIonChange($event)" [min]="1" [max]="5">
              <ion-icon name="speedometer" color="primary" slot="end"></ion-icon>
            </ion-range>
          </div>
          <div class="w-full flex">
            <ion-button color="primary" class="w-full" (click)="readArray()">
              <ion-label>Ler texto</ion-label>
              <ion-icon name="volume-high" class="mx-2"></ion-icon>
            </ion-button>
            <!--             <ion-button color="primary" class="w-fit" (click)="readArray()">
              <ion-icon name="stop"></ion-icon>
            </ion-button> -->
          </div>

        </div>

      </div>

    </div>
  </div>
</ion-content>